### Custom ###
secrets.json

# Created by httpswww.toptal.comdevelopersgitignoreapipython,django
# Edit at httpswww.toptal.comdevelopersgitignoretemplates=python,django

### Django ###
.log
.pot
.pyc
__pycache__
local_settings.py
db.sqlite3
db.sqlite3-journal
media
/staticfiles