<htmml>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/static/teams/team2/style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image⁄x-icon" href="/static/teams/team2/src/img/apple.png">
        <title>Apple (대한민국, 최수원)</title>
    </head>
    <body>
        <nav class="topmenu"><!--네비게이션 바-->
            <ul>
                <li>
                <div>
                    <li><a class="nav-link" href="{% url 'mega:index' %}">HOME</a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/apple.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/mac_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/ipad_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/iphone_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/watch_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/music_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/support_button.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/search.png" style="height: 40px"></a></li>
                    <li><a herf="#"><img src="/static/teams/team2/src/img/bag_button.png" style="height: 40px"></a></li>
                </div>
            </ul>
        </nav>
        <main>
            <div>
                <div class=ribonWrap>
                    <span class="ribon">
                        <a class="onlineshop" href="#">온라인으로 쇼핑</a>하고 무료 배송, 스페셜리스트 지원 등의 혜택을 받으세요.
                    </span>
                </div>
            </div>
            <div>
                <div style="box-sizing: content-box;">
                    <div class="ipad_pro">
                        <div class="title" >iPad Pro</div>
                        <div class="subtitle">막강한 성능의 Apple M1 칩 탑재.</div>
                        <div class="avail">출시일은 추후 공개됩니다</div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="price" href="#">가격 보기 ></a>
                        </div>
                    </div>
                </div>
                <div style="height:70%"> 
                    <div class="iphone_12">
                        <div class="title" >iPhone 12</div>
                        <div class="subtitle">스피드 그 이상의 스피드.</div>
                        <div class="avail">₩950,000부터(보상 판매* 미적용 가격)</div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="price" href="#">가격 보기 ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:70%">
                <div class="imac">
                    <div class="title" >iMac</div>
                    <div class="subtitle">이제 새롭게 만날 시간.</div>
                    <div class="info-wrap">
                        <a class="more" href="#">더 알아보기 ></a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a class="price" href="#">가격 보기 ></a>
                    </div>
                </div>
            </div>
        </main>
        <div>
            <div>
                <div class="sub">
                    <div class="iphone_12_pro">
                        <div class="title" >iPhone 12 Pro</div>
                        <div class="subtitle">도약의 시간.</div>
                        <div class="avail">₩1,350,000보터(보상 판매* 미적용 가격)</div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="price" href="#">구입하기 ></a>
                        </div>
                    </div>
                    <div class="watch">
                        <div class="title" >자랑스레 
                            <a class="color_word">본색을</a>
                            두르다.</div>
                        <div class="info-wrap">
                            <a class="more" href="#">프라이드 에디션 밴드 쇼핑하기 ></a>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="air_tag">
                        <div class="title" >AirTag</div>
                        <div class="subtitle">분실 걱정을 분실하는 법.</div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="price" href="#">구입하기 ></a>
                        </div>
                    </div>
                    <div class="tradein">
                        <div class="promo">기간 한정 프로모션</div>
                        <div class="title" >손쉬운 보상 판매로<br>추가 할인까지.</div>
                        <div class="subtitle">지금부터 5월 25일까지 추가로 제공되는 보상 판매<br>
                            크레딧으로 더 저렴하게 새 제품을 구입할 수<br>
                            있습니다.<sup style="font-size:small">1</sup>
                        </div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="macbook_air">
                        <div class="title" >MacBook Air</div>
                        <div class="subtitle">Air의 흐름을 바꾸다</div>
                        <div class="info-wrap">
                            <a class="more" href="#">더 알아보기 ></a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="price" href="#">구입하기 ></a>
                        </div>
                    </div>
                    <div class="arcade">
                        <div class="arcade_logo"></div>
                        <div class="subtitle">simon's Cat - Story Time. 지금 플레이하기</div>
                            <div class="info-wrap">
                                <a class="more" href="#">더 알아보기 ></a>
                                <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a class="price" href="#">무료 체험하기<sup style="font-size:x-small">2</sup> </a>
                            </div>
                            <div class="arcade_img"></div>
                    </div>
                </div>
            </div>
        </sub>

        <div class="footer">
            <div class="info">
                <div>
                    <sup>*</sup>보상 판매 프로그램은 Apple의 파트너이자 독립적으로 운영되는 제3의 업체에 의해 제공됩니다. 
                    Apple 및 Apple의 계열사는 고객과 파트너 간 계약의 당사자가 아닙니다. 
                    보상 판매 금액은 보상 판매되는 스마트폰의 상태 및 모델에 따라 달라집니다. 
                    19세 이상이어야 합니다. 일부 매장에서는 본 프로그램을 이용할 수 없으며, 일부 기기는 보상 판매 대상이 아닙니다. 
                    Apple은 어떤 기기든 수령을 거부하거나, 그 수량을 제한할 권리를 보유합니다. 
                    새 Apple 기기 구매 시, 현재 소유한 기기의 가치만큼 할인을 받을 수도 있습니다. 
                    추가 약관은 <a class="link" href="#">apple.com/kr/trade-in</a>을 참고하십시오.
                </div>
                <br>
                <div>
                    1. 2021년 5월 25일까지 보상 판매 대상 iPhone, iPad, Mac 또는 Apple Watch를 반납하면 새 Apple 기기 구입 시 사용할 수 있는 크레딧을 추가로 제공합니다. 
                    추가 보상 판매 금액의 경우 iPhone은 25,000원, iPad는 40,000원, Mac은 90,000원, Apple Watch는 25,000원입니다. 
                    Apple 또는 Apple 보상 판매 파트너사의 약관이 추가로 적용될 수 있습니다. 
                    보상 판매 프로그램은 Apple의 파트너이자 독립적으로 운영되는 제3의 업체에 의해 제공됩니다. 
                    Apple 및 Apple의 계열사는 고객과 파트너 간 계약의 당사자가 아닙니다. 
                    보상 판매 금액은 보상 판매되는 기기의 상태 및 모델에 따라 달라집니다. 19세 이상이어야 합니다. 
                    일부 매장에서는 본 프로그램을 이용할 수 없으며, 일부 기기는 보상 판매 대상이 아닙니다. 
                    Apple은 어떤 보상 판매도 거래를 거부하거나, 제한할 귄리를 보유합니다. 
                    새 Apple 기기 구매 시, 현재 소유한 기기의 가치만큼 할인을 받을 수도 있습니다. 
                    추가 약관은 <a class="link" href="#">apple.com/kr/trade-in</a>을 참고하십시오.
                </div>
                <br>
                <div>
                    2. 무료 체험 기간이 끝나면 월 6,500원에 이용할 수 있습니다. 
                    한 번 가입으로 가족 공유 그룹 내 식구 전체가 이용 가능합니다. 
                    대상 기기 활성화 이후 3개월 간 요금제가 유지됩니다. 
                    멤버십은 매월 자동으로 갱신되며, 해지 시 종료됩니다. 
                    특정 제한 사항 및 기타 <a class="link" href="#">약관</a>이 적용됩니다.
                </div>  
            </div>
            <div class = "blank">
                <br>
                <hr style="width:1200px">
                <br>
            </div>
            <div class="directory">
                <div style="display:inline-block">
                    <b style="color:black">쇼핑 및 알아보기</b><br>
                    Mac<br>
                    iPad<br>
                    iPhone<br>
                    Watch<br>
                    Music<br>
                    AirPods<br>
                    iPod touch<br>
                    AirTag<br>
                    액세서리
                </div>
                <div style="display: inline-block">
                    <div>
                        <b style="color:black">서비스</b><br>
                        Apple Music<br>
                        Apple Arcade<br>
                        iClode<br>
                        Apple Books<br>
                        App Store<br>
                    </div>
                    <div style="margin-top:10px">
                        <b style="color:black">계정</b><br>
                        Apple ID 관리<br>
                        Apple Store 계정<br>
                        iCloud.com<br>
                    </div>
                </div>
                <div style="display: inline-block">
                    <b style="color:black">Apple Store</b><br>
                    매장 찾기<br>
                    온라인에서 쇼핑하기<br>
                    Genius Bar<br>
                    Today at Apple<br>
                    Apple 캠프<br>
                    Apple Store 앱<br>
                    리퍼 및 특가 제품<br>
                    금융 혜택<br>
                    Apple Trade in<br>
                    주문 상태<br>
                    쇼핑 도움말<br>
                </div>
                <div style="display: inline-block">
                    <div>
                        <b style="color:black">비즈니스</b><br>
                        Apple과 비즈니스<br>
                        비즈니스를 위한 제품 쇼핑하기<br>
                    </div>
                    <div style="margin-top: 10px">
                        <b style="color:black">교육</b><br>
                        Apple과 교육<br>
                        초중고용 제품 쇼핑하기<br>
                        대학 생활을 위한 제품 쇼핑하기<br>
                    </div>
                </div>
                <div style="display: inline-block">
                    <div>
                        <b style="color:black">Apple의 가치관</b><br>
                        손쉬운 사용<br>
                        환경<br>
                        개인정보 보호<br>
                        협력업체에 대한 책임<br>
                    </div>
                    <div style="margin-top: 10px">
                        <b style="color:black">Apple 정보</b><br>
                        Newsroom<br>
                        Apple 리더십<br>
                        채용 안내<br>
                        이벤트<br>
                        일자리 창출<br>
                        Apple 연락처<br>
                    </div>
                </div>
            </div>
            <div class="more-info">
                다양한 쇼핑 방법: <a class="link" href="#"> Apple Store를 방문</a>하거나, 
                <a class="link" href="#">리셀러</a>를 찾아보거나, 080-330-8877번으로 전화하세요.
                <hr style="margin-top: 10px">
            </div>
            <div class="legal">
                <div class="copyright">
                    Copyright © 2021 Apple Inc. 모든 권리 보유.
                </div>
                <div class="site">
                    <a class="link" href="#" style="border-left: 0">개인정보 처리방침</a>
                    <a class="link" href="#">웹 사이트 이용 약관</a>
                    <a class="link" href="#">판매 및 환불</a>
                    <a class="link" href="#">법적 고지</a>
                    <a class="link" href="#">사이트 맵</a>
                </div>
                <div class="nation">
                    <a class="link" href="#" style="border-left:0">대한민국</a>
                </div>
            </div>
            <div class=corp-info>
                사업자등록번호 : 120-81-84429 | 
                통신판매업신고번호 : 제 2011-서울강남-00810호 | 
                대표이사 : PETER DENWOOD | 
                주소 : 서울 특별시 강남구 영동대로 517 | 
                대표전화 : 02-6712-6700 | 
                팩스 : 02-6928-0000
            </div>
        </div>
    </body>
</htmml>