.comment{
    border-top : dotted 1px #ddd;
    font-size : 0.7em;
}

.hoon-overflow{
    display: inline-block;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media ( max-width : 1200px){
    .hoon-none{
        display: none!important;
    }
    .hoon-overflow{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media ( max-width : 800px){
    .hoon-none{
        display: none!important;
    }
    .hoon-overflow{
        display: inline-block;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media ( max-width : 400px){
    body{
        font-size : 12px;
    }
    .hoon-none{
        display: none!important;
    }
    .hoon-overflow{
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}